.page-wrapper{
  flex: 1 auto;
  height: 100vh;

  .header{
    margin-bottom: 0 ;
    background-color: #fefefe;
  }

  .content{
    width: 100%;
    margin-top: 20px;
    height: calc(100% - 130px);

  .formAddItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;



    .deleteButton{
      margin-left: auto;
      margin-bottom: 25px;
    }



    .itemTypeName{
      width: 100%;
      border-radius: 15px;
      padding:25px 15px;
      border: 1px solid rgb(172, 218, 255);
      background-color: rgb(162, 191, 255,0.3);
      color: rgb(2, 28, 49);
      margin-bottom: 25px;
    }


    .itemTypeInput{
      padding: 5px;
      flex: 1;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 15px;
      margin-top: 5px;
      font-size: 1rem;
      background-color: lightyellow;
    }


    input{
      border: 1px solid #ccc;
      border-radius: 3px;
      flex: 1;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 15px;
      padding:5px;
      font-size: 1rem;
    }

    .message{
      font-size:0.8rem;
      flex: 1;
      width: 100%;
      margin-top: 15px;
      padding: 15px;
      border-radius:5px;
      text-align: center;

      &.success{
        background-color: #99ffb836;
        color: #0c1301e3;
      }

      &.error{
        background-color: #ff99b836;
        color: #130109e3;
      }


    }

  }


  }
}

