<div class="page-wrapper">
  <div class="header">
    <app-nav pageTitle="{{this.itemData?.name}}"></app-nav>
  </div>
  <div class="content">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="tilesWrapper" *ngIf="!loading">
      <div class="tile blue" (click)="openAddItemPage()">
        <div><mat-icon class="icon">apps</mat-icon></div>
        <div >Manage Item</div>
      </div>
      <div class="tile yellow" (click)="openAddAttachmentPage()">
        <div><mat-icon  class="icon">attachment</mat-icon></div>
        <div >Add Attachment</div>
      </div>
    </div>
  </div>
</div>
