.privacyWraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(27, 31, 37);
  color: white;
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
}
