<div class="sidebar-wrapper" [class.backdrop-hide] = "!getSidebarState()" [class.backdrop-show] = "getSidebarState()" (click)="closeSidebar()"></div>
<div class="sidebar-nav" [class.nav-expand] = "getSidebarState()">
  <div class="avatar-wrapper">
    <ngx-avatar size="100" name="Saeed Zarei" bgColor="#eeeeddee" fgColor="#000000" borderColor="#00000011" [round]="true">
</ngx-avatar>
  </div>
  <ul class="sidebar-nav-item-wrapper">
    <li class="sidebar-nav-item">
      <a routerLink="manage-items" class="pointer">
        <mat-icon>library_books</mat-icon>
        <div>Manage Items</div>
      </a>
    </li>
    <li class="sidebar-nav-item">
      <a routerLink="users" class="pointer">
        <mat-icon>supervisor_account</mat-icon>
        <div>Users</div>
      </a>
    </li>
    <li class="sidebar-nav-item">
      <a class="pointer" (click)="signout()">
        <mat-icon>exit_to_app</mat-icon>
        <div>Signout</div>
      </a>
    </li>
  </ul>
</div>
