<div class="managementReportSection">
  <div class="managementBody">
    <div class="titleHeader">
      <div class="fl-left"><img src="./assets/img/icons/reportIcon.png" alt=""></div>
      <div>Abadan Refinery Upgarede Project</div>
    </div>
    <div class="iconManagementBody">
      <div class="card" *ngFor="let item of itemData">
        <div class="card-body mgmt"  [routerLink]="['item/'+item.id]"></div>
        <div class="title" [routerLink]="['item/'+item.id]">{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
<div class="cardWraper">
  <div class="card" *ngFor="let item of itemData">
    <div class="card-body {{item.name}}"  [routerLink]="['item/'+item.id]">
    </div>
    <p><a class="title" [routerLink]="['item/'+item.id]">{{item.name}}</a></p>
  </div>

</div>
