.managementReportSection{
  height:130px;
  padding: 0px 15px;
  padding-bottom: 15px;
  margin-top:60px;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
  display: flex;
  align-items: stre;
  justify-content: center;


  .managementBody{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(236, 234, 225) 100%);
    flex: 1;
    border-radius:15px;
    box-shadow: 0 2px 5px 0 rgba($color: #000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    padding-top: 0px;

    .titleHeader{
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.85rem;
      height:32px;
      color: rgba($color: #000, $alpha: 0.7);
      border-bottom: 1px solid rgba($color: #000, $alpha: 0.05);
      .fl-left{
        position: absolute;
        left: 10px;
      }
    }

    .iconManagementBody{
      display: flex;
      width: 100%;
      height: 100%;
      overflow-x: scroll;

      .card{
        padding: 5px;
        height: 100%;
        margin: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card-body{
          width: 38px;
          height: 38px;
          border-radius: 45%;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 2px 2px 0 rgba($color: #000, $alpha: 0.5);

        }

        .title{
          color: black;
          margin-top: 5px;
          font-size: 0.75rem;
          width: 100%;
          text-align: center;
          white-space: nowrap;
        }



      }
    }
  }
}

.cardWraper{
  width: 100%;
  height: calc(100vh - 258px);
  //background-color: rgb(255, 209, 209);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: scroll;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.9);

  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100vw - 40px) / 3);
    height: calc((100vw - 40px) / 3);


    .card-body{
      width: 70%;
      height: 70%;
      border-radius: 45%;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 2px 0 rgba($color: #000, $alpha: 0.5);

      img{
        width: 48px;
      }

    }

    .title{
      display: block;
      text-decoration: none;
      color: black;
      margin-top: 5px;
      font-size: 0.75rem;
      width: 100%;
      text-align: center;
    }

    .attachmentIcon{
      color: black;
      font-size: 3rem;
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .attachmentDescription{
      font-size: 1.2rem;
      max-width: 85%;
      height:100%;
      display: flex;
      padding: 20px 15px;
      line-height: 1.2rem;
      padding-left: 15px;
      align-items: center;
      justify-content: center;
    }
  }
}


.mgmt{
  background-image: url('../../../../../assets/img/icons/reportIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-color: #59d8ff;
}


.AG{
  background-image: url('../../../../../assets/img/icons/AG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(74, 158, 255);
}

.UG{
  background-image: url('../../../../../assets/img/icons/UG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(240, 127, 74);
}

.CONCRETE{
  background-image: url('../../../../../assets/img/icons/concrete.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(255, 210, 7);
}

.PI-SUP{
  background-image: url('../../../../../assets/img/icons/Support.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(71, 212, 189);
}

.S-STR{
  background-image: url('../../../../../assets/img/icons/ST-STR.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(224, 233, 90);
}

.EL{
  background-image: url('../../../../../assets/img/icons/EL.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(255, 75, 99);
}

.EQ{
  background-image: url('../../../../../assets/img/icons/EQ.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(235, 83, 164);

}


.IN{
  background-image: url('../../../../../assets/img/icons/EL.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: rgb(171, 178, 240);
}


