<div class="page-wrapper">
  <div class="header">
    <app-nav pageTitle="Manage Items"></app-nav>
  </div>
  <div class="content" *ngIf="!loading">

    <button mat-fab class="mini-fab" (click)="onFabClick()"><mat-icon class="mat-icon-search">add</mat-icon></button>




    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="searchInputWrapper">
      <div class="searchInput">
        <input type="text"/>
        <mat-icon class="mat-icon-search">search</mat-icon>
      </div>
    </div>
    <div class="treeWrapper" *ngIf="!loading">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="0">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <div>
              {{node.name}}<span class="badge-blue" *ngIf="node.count>0">{{node.count}}</span>
            </div>
            <div class="action spacer">
              <button mat-button class="launchIconButton" (click)="openItem(node.id)">
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node class="border-bottom" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="0">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div>
              {{node.name}}<span class="badge-danger" *ngIf="node.itemCount>0">{{node.itemCount}}</span> <span class="badge-blue" *ngIf="node.count>0">{{node.count}}</span>
            </div>
            <div class="action spacer">
              <button mat-button class="launchIconButton" (click)="openItem(node.id)">
                <mat-icon >launch</mat-icon>
              </button>
            </div>
          </mat-tree-node>
        </mat-tree>
    </div>
  </div>
</div>
