<div class="home-wrapper">
  <app-sidebar></app-sidebar>
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <div class="content">
    <div class="content-header"></div>
    <div class="content-searchbar">
      <input type="text"/>
      <button mat-button mat-raised-button>Search</button>
    </div>
    <div class="tiles-wrapper">
      <div class="tile">
        <div class="tile-body blue">
          <mat-icon class="more_vert">more_vert</mat-icon>
          <div class="item-title">Item Name</div>

        </div>
      </div>
      <div class="tile">
        <div class="tile-body red" [class.load_tile_body] = "load_tile_body">
          <mat-icon class="more_vert">more_vert</mat-icon>
          <div class="item-title">Item Name</div>
        </div>
      </div>
      <div class="tile">
        <div class="tile-body teal">
          <mat-icon class="more_vert">more_vert</mat-icon>
          <div class="item-title">Item Name</div>

        </div>
      </div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
    </div>
  </div>
</div>
