<div class="home-wrapper">
  <app-sidebar></app-sidebar>
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <div class="content">
    <div class="content-header"></div>
    <div class="content-searchbar">
      <input type="text"/>
      <button mat-button mat-raised-button>Search</button>
    </div>
    <div class="tiles-wrapper">
      <div class="tile"><div class="tile-body"><span class="item-title">akdhs,d asld kasld jalskdj asdd</span></div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
      <div class="tile"><div class="tile-body">TEST</div></div>
    </div>
  </div>
</div>
