<div class="page-wrapper">
  <div class="header">
    <app-nav pageTitle="{{itemName}}"></app-nav>
  </div>
  <div class="content">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="attachment">
        <div class="searchWrapper">
          <input type="text" readonly>
          <button>Browse</button>
        </div>
    </div>
    <div class="uploadBtnWrapper border-bottom">
      <button class="uploadBtn primary">
        <mat-icon class="icon">cloud_upload</mat-icon>
        <div>Upload</div>
      </button>
      <button class="uploadBtn light">
        <mat-icon class="icon">restart_alt</mat-icon>
        <div>Reset</div>
      </button>
    </div>

    <div class="attachmentWrapper">
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>
      <div class="itemAttachment">
        <div class="itemData">
          <div class="fileName">asdkasdlashdlaksdjlasdasdaslkd.jpg</div>
          <div class="fileInfo">
            <div class="createdDate">1365/06/03</div>
            <div class="createdBy">Nima Ahamdi</div>
          </div>
        </div>
        <div><button mat-button>Action</button></div>
      </div>


    </div>
  </div>
</div>
