.page-wrapper{
  flex: 1 auto;
  height: 100vh;

  .header{
    margin-bottom: 0 ;
    background-color: #fefefe;
  }

  .content{
    width: 100%;

    height: calc(100% - 130px);

    .attachment{
      padding:5px 10px;
      height: 48px;
      display: flex;
      align-items: flex-end;
      flex:1;
      max-width: 800px;
      margin:auto;
      margin-top: 2px;
      background: rgb(179,255,248);
      background: linear-gradient(90deg, rgba(179,255,248,1) 0%, rgba(220,158,255,1) 100%);
      input{
        flex:1;
        border-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border:1px solid #d8d8d8;
        padding:5px;
      }

      button{
        cursor: pointer;
        border:1px solid #d8d8d8;
        border-left:none;
        border-top-right-radius:3px;
        border-bottom-right-radius: 3px;
        background: #eee;
        color: #333;
        padding:5px;
      }
    }

    .uploadBtnWrapper{
      padding:5px 10px;
      padding-bottom: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      background: rgb(179,255,248);
      background: linear-gradient(90deg, rgba(179,255,248,1) 0%, rgba(220,158,255,1) 100%);

      button{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        height: 40px;
        margin-right: 10px;

        border-radius: 3px;

        font-size: 1rem;
        transition: all 300ms ease;

        &.primary{
          border: 1px solid #0051ff;
          background-color: #0051ff;
          color: white;
        }

        &.light{
          border: 1px solid #f8f8fa;
          background-color: #f8f8fa;
          color: #000;
          box-shadow:0 1px 3px 0  rgba($color: #000000, $alpha: 0.3);
        }

        &:hover{
          transform: translateY(-2px);
          box-shadow: 0 2px 3px 0 rgba($color: #000000, $alpha: 0.7);
        }

        .icon{
          margin-right: 20px;
        }
      }
    }


    .attachmentWrapper{
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      flex-direction: column;
      max-width: 800px;
      margin:auto;
      height: calc(100% - 54px);
      overflow-y: scroll;

      .itemAttachment{
        width: 100%;
        border-bottom: 1px solid #efefef;
        display: flex;
        align-items: flex-start;
        padding: 5px;

        .itemData{
          font-size: 0.8rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .fileName{
            margin-bottom: 5px;
          }

          .fileInfo{
            display: flex;
            flex-wrap: wrap;
            font-size: 0.7rem;

            .createdDate{
              margin-right: 2px;
              color: #999;
            }
            .createdBy{
              margin-right: 2px;
              color: #999;
            }
          }
        }


      }

    }
  }
}

