<div class="page-wrapper">
  <div class="header">
    <app-nav pageTitle="{{itemData.name}}"></app-nav>
  </div>
  <div class="content">
    <div  *ngIf="bodyPreloading"><mat-icon class="bodypreloading"><mat-spinner diameter="40" color="primary"></mat-spinner></mat-icon></div>
    <div class="attachmentWrapper">
      <div class="itemAttachment" *ngFor="let attachment of attachmentData.value">
        <div class="itemData">
          <div class="remark">{{attachment.remark}}</div>
        </div>
        <div class="downloadBtn"><button mat-button (click)="download(attachment.streamId)">View</button></div>
      </div>
    </div>
  </div>
</div>
