<div class="page-wrapper">
  <div class="header">
    <app-nav pageTitle="{{itemData.name}}"></app-nav>
  </div>
  <div class="content">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="attachmentWrapper">
      <div class="bodypreloading"><mat-icon *ngIf="bodyPreloading"><mat-spinner diameter="30" color="primary"></mat-spinner></mat-icon></div>
      <div class="itemAttachment" *ngFor="let attachment of attachmentData.value">
        <div class="itemData">
          <div class="remark">{{attachment.remark}}</div>
        </div>
        <div><button mat-button (click)="download(attachment.streamId)">Download</button></div>
      </div>
    </div>
  </div>
</div>
