.page-wrapper{
  flex: 1 auto;
  height: 100vh;

  .header{
    margin-bottom: 0 ;
    background-color: #fefefe;
  }

  .content{
    width: 100%;
    height: calc(100% - 280px);

    .attachment{
      padding:5px 10px;
      display: flex;
      align-items: flex-end;
      flex:1;
      margin:auto;
      margin-top: 2px;
      // background: rgb(179,255,248);
      // background: linear-gradient(90deg, rgba(179,255,248,1) 0%, rgba(220,158,255,1) 100%);

      .searchWrapper{
        max-width: 780px;
        margin: auto;
        flex: 1;

        .fileAddressInput{
          width: 100%;
          background-color: aliceblue;
          border: 1px solid #ccc;
          border-radius: 3px;
          flex: 1;
          font-size: 1rem;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;
        }

        .remark{
          width: 100%;
          height: 48px;
          resize: none;
          color: darkblue;
          border: 1px solid #ccc;
          border-radius: 3px;
          font-size: 1rem;
        }
      }

    }

    .uploadBtnWrapper{
      padding:5px 10px;
      padding-bottom: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border-bottom: 1px solid #f0f0f0;
      button{
        margin:10px;

        mat-spinner{
          margin-top: -10px;
          margin-left: -10px;
        }
      }
    }

    .attachmentWrapper{
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      flex-direction: column;
      max-width: 800px;
      margin:auto;
      height: calc(100% - 18px);
      overflow-y: scroll;

      .itemAttachment{
        width: 100%;
        border-bottom: 1px solid #efefef;
        display: flex;
        align-items: flex-start;
        padding: 5px;

        .itemData{
          font-size: 0.8rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .fileName{
            margin-bottom: 5px;
          }

          .remark{
            background-color: rgba(0, 191, 255, 0.294);
            border-radius: 3px;
            padding: 5px;
            margin-bottom: 3px;
          }

          .fileInfo{
            display: flex;
            flex-wrap: wrap;
            font-size: 0.7rem;

            .createdDate{
              margin-right: 5px;
              color: #999;
            }
            .createdBy{
              margin-left: 5px;
              color: #999;
            }
          }
        }
      }
    }
  }
}
