.loginWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/img/loginImage.png');
  background-repeat: no-repeat;
  background-size: 100%;

  .loginContent{
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;


    form{
      width: 90%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      margin-top: 150px;

      .btn-login{
        padding: 8px;
        background-color: #004fce;
        border: 1px solid #0044b3;
        color: White;
        border-radius: 3px;
        box-shadow: 0 1px 2px 0 rgba($color: #001638, $alpha: 1.0);
        transition: all 300ms ease;
        transform: translateY(0);
        cursor: pointer;
        flex: 1;
        font-size: 1rem;

      &:hover{
        transform: translateY(-1px);
        box-shadow: 0 2px 4px 0 rgba($color: #001638, $alpha: 1.0);

      }

    }





    }



    .loginTitle{
      top: 50px;
      left: 38px;
    }
  }


}
